.nav-edit{
	background-color: #4A7340;
	
}
.camera-image{
 	width: 30%;
 }
@media screen and (min-width: 576px) and (max-width: 780px) 
{ 
 .camera-image{
 	width: 60%;
 }
}

.img1{
    border-radius: 50%;
    width: 60%;
}
.button-edit{
	color: black;
	background-color: #afb2b5;
	color: white;
}

.button-edit:hover{
	background-color: #e8e9ea;
	color: white;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}